.grid-item {
  @apply relative flex h-full w-full flex-col justify-end gap-1 rounded-2xl bg-zinc-300 p-4;
  user-select: none;
  transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.grid-item-wrapper {
  @apply relative z-0;
}

.grid-item-wrapper:hover {
  @apply z-40;
}

.grid-item-wrapper:active {
  @apply z-50;
}

.grid-item__text {
  @apply z-[1] w-full overflow-hidden;
}

.grid-item__bg {
  @apply rounded-2xl;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.grid-item:hover .grid-item__bg,
.grid-item:focus .grid-item__bg,
.grid-item:active .grid-item__bg {
  @apply rounded-lg;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
}

.grid-item:has(.resize-popover:hover) .grid-item__bg {
  @apply rounded-2xl;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grid-item__trash-container {
  @apply absolute -left-2 -top-2 cursor-pointer rounded-full bg-black p-2 shadow-md;
  transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.grid-item__trash-container:hover {
  @apply bg-red-500;
}

.grid-item__trash-container svg {
  @apply text-white;
}
